/* @import './reset.css'; */
@import './button.css';
body{
    margin: 0 auto;
    text-align: center;
}

.masthead {
    background: lightgray;
}

nav {
    width: 20%;
    height: 100vh;
    background: grey;
}